<%= h1 "Sorry, there’s a problem with the service", size: "xl" %>

<p>Try again later.</p>

<p>
  If you continue to see this error contact the <%= @service_name %>
  team: <%= mail_to t("service.email") %>.
</p>
