<%= h1 t(".title") %>

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    <%= render AppLocationSearchFormComponent.new(
          @form,
          url: schools_path,
        ) %>
  </div>

  <div class="app-grid-column-results">
    <%= render AppSearchResultsComponent.new(@pagy, label: "schools") do %>
      <% @locations.each do |location| %>
        <%= render AppLocationCardComponent.new(
              location,
              patient_count: @patient_count_by_school_id.fetch(location.id, 0),
              next_session_date: @next_session_date_by_location_id[location.id],
              heading_level: 3,
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
