<% content_for :main_content do %>
  <div class="nhsuk-width-container">
    <%= yield :navigation %>

    <main class="nhsuk-main-wrapper" id="main-content">
      <%= render(AppFlashMessageComponent.new(flash: flash)) %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </div>
<% end %>

<%= render template: "layouts/application" %>
