<% content_for :main_content do %>
  <div class="nhsuk-width-container">
    <%= yield :before_main %>

    <div class="nhsuk-main-wrapper">
      <%= render(AppFlashMessageComponent.new(flash: flash)) %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
